*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #e3e3e3;
} 

.app_wrapper{
  width: 1200px;
}

@media screen and (max-width: 400px) {
  .app_wrapper{
    background-color: black;
    width: 300px;
  }
}